html,
body
{
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
	position: absolute;
}

header
{
	background-color: deepskyblue;
	text-align: center;
	height: 15%;
	padding-top: 15px;
	position: relative;
}

main
{
	position: relative;
	min-height: 100vh;
}

.kop
{
	list-style-type: disc;
}

.lijst
{
	list-style-type: circle ;
}

main nav
{
	background-color: aquamarine;
	width: 25%;
	float: left;
	min-height: 100%;
	box-sizing: border-box;
	padding: 25px;
}

main section
{
	background-color: dodgerblue;
	min-height: 100vh;
	float: right;
	width: 75%;
	box-sizing: border-box;
	padding: 25px;
}

footer
{
	background-color: deepskyblue;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 10%;

}

#biggerfooter
{
	bottom: 0;
}
