html{}



@font-face
{
    font-family: "DaysOne";
    src: url('../fonts/DaysOne-Regular.ttf');

}

a
{
    top: 0;
    color: white;
    margin: 30px;
    list-style-type: none;
    text-decoration: none;
    font-size: 16px;
    font-family: "DaysOne";
}
#MenuHome
{
    position: absolute;
    left: 326px;
    top: 17px;
}

#MenuFAQ
{
    position: absolute;
    right: 292px;
    top: 17px;
}

li
{
    top: 0px;
    color: white;
    float: left;
    display: block;
    text-align: center;
}

li:hover
{
    background-color: orange;
}

body
{
    background-image: url('../images/navbalk.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw;
    background-color: gray;
    overflow: hidden;
}

article
{
    background-color: chocolate;
    left: 350px;
    width: 50vw;
    height: 100vh;
    top: 17%;
    position: fixed;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/*  */
.active, .accordion:hover {
    background-color: black;
}

/* Stylen van het paneel van de accordion*/
.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
/* Code voor het + teken*/
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
/* Code voor het - teken*/
.active:after {
    content: "\2796";
}