html{}



@font-face
{
    font-family: "DaysOne";
    src: url('../fonts/DaysOne-Regular.ttf');

}

a
{
    top: 0;
    color: white;
    margin: 30px;
    list-style-type: none;
    text-decoration: none;
    font-size: 16px;
    font-family: "DaysOne";
}
#MenuHome
{
    position: absolute;
    left: 326px;
    top: 17px;
}

#MenuFAQ
{
    position: absolute;
    right: 292px;
    top: 17px;
}

li
{
    top: 0px;
    color: white;
    float: left;
    display: block;
    text-align: center;
}

li:hover
{
    background-color: orange;
}

body
{
    background-image: url('../images/img.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw;
}