* /* haalt margin en padding van alles weg */
{
    margin: 0;
    padding: 0;
}

/*aanpassingen body*/
body
{
    background-color: #66b6df;
    color: white;
    min-height: 100%;
    font-family: Arial, Verdana, Tahoma, serif;
    overflow-x: hidden;
}

/*aanpassingen paragraaf*/
p
{
    background-color:#0085ca;
    width: 10vw;
}

/*aanpassingen bg*/
#background
{
    width: 100vw;
    height: 600px;
}

/*aanpassingen line*/
#lijn
{
    min-width: 100vw;

}

/*aanpassingen titel*/
#titel {
    position: relative;
    left: 40%;
    margin: 1rem;
}

/*aanpassingen h3*/
h3
{
    background-color: #0085ca;
    line-height: 1;
    margin: 0.05em 0 0.25em;
    word-wrap: break-word;
}

/*aanpassingen aan #tekst1*/
#tekst1
{
    background-color: #0085ca;
    width: 50vw;
    padding: 0 0.7em;
    padding-top: 0.7px;
    padding-right: 0.0em;
    padding-bottom: 0.7px;
    padding-left: 0.0em;
}

/*aanpassingen aan #tekst*/
#tekst
{
    width: 50vw;

}

/*aanpassingen algemeen*/
#alg
{
    width: 40vw;
    left: 20%;
}

/*aanpassingen #contact*/
#contact
{
    background-color: #0085ca;
    width: 15vw;
}

/*aanpassingen footer*/
footer
{
    bottom: 0;
    min-width: 100vw;
    height: 10vh;
    background-color: #0085ca;
}


