nav li
{
    float: left;
    display: inline;
    margin-right: 5px; /* vergroot/verkleint de margin van het menu */
    padding: 1%; /* vergroot/verkleint de wit ruimte tussen menu en rand van de pagina */
}
nav
{
    display: block;
    align-items: center;
    justify-content: center;
    position: fixed;
    min-width: 100%; /* Groote tekst*!*/
    max-width: 100%; /* Groote tekst*!*/
    max-height: 10%; /* Groote tekst*!*/
    background-color: #0085CA; /* tekst kleur */
    /*width: 825px;   !*Groote tekst*!*/
}
nav li:hover
{
    background: white; /* achtergrond kleur */
}

nav li a:hover
{
    color: #0085CA; /* tekst kleur */
}

nav ul li
{
    text-align:center; /* plaatsing tekst */
    left: 100px;
    list-style: none; /* verwijdering bullets */
    /*float: left; !* rechts laten hangen boven alles *!*/
}

/* url links */
nav ul li a
{
    text-decoration: none; /* onderline link verwijderen */
    display:block; /* groote link block */
    color:white; /* kleur tekst */
}

#logo
{
    height: 5vh;
}